@import url('https://fonts.cdnfonts.com/css/sporting-outline');

body {
    background: linear-gradient(to bottom, white, grey);
    margin: 0;
    font-family: Arial, sans-serif;
}
ul {
    list-style-type: none;
}
li {
    margin: 10px 0;
}
img {
    vertical-align: middle;
    height: 150px;
    margin-right: 10px;
}
span {
    font-size: 18px;
    vertical-align: middle;
}
select {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 10px 0;
}
option {
    padding: 5px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-custom {
    background-image: url('https://i.pinimg.com/originals/51/c3/18/51c31816ee64c4f6b3edb298535bb692.jpg');
    background-size: cover; 
    background-position: center; 
}

h1 {
    color: antiquewhite;
    font-family: 'Sporting Outline', sans-serif;
    font-size: 36px;
}

.navbar-custom .navbar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-custom .logo {
    margin: 0;
    font-family: 'Sporting Outline', sans-serif;                                   
    font-size: 48px; /* Adjust as needed */
    color: black;
    background-color: rgba(173, 216, 230, 0.5); /* lightblue with 50% opacity */
}

.navbar-custom .subtitle {
    margin: 0;
    font-family: 'Sporting Outline', sans-serif;
    font-size: 24px; /* Adjust as needed */
    color: black; /* Adjust as needed */
    background-color: rgba(173, 216, 230, 0.5); /* lightblue with 50% opacity */
}

h1.team_name {
    font-size: 26px;
}

.team-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .team-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #vs {
    font-size: 36px;
    font-weight: bold;
    align-self: center;
  }


#submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

@keyframes popOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pop-out {
    animation: popOut 0.5s ease-in-out;
  }
  